{% extends 'CommonBundle:Default/admin:admin_index.html.twig' %}

{% set admin = 'admin_dancer_event' %}
{% set title = 'label.dancer_event.index' %}
{% block thead %}
    <tr>
        <th>{{ 'label.id'|trans }}</th>
        <th>{{ 'label.date'|trans }}</th>
        <th>{{ 'label.status'|trans }}</th>
        <th>{{ 'label.actions'|trans }}</th>
    </tr>
{% endblock %}
{% block custom_fields %}
    <td>{% if entity.date %}{{ entity.date|date('Y-m-d H:i:s') }}{% endif %}</td>
    <td>{{ entity.status }}</td>
{% endblock %}