{% extends 'CommonBundle:Default/admin:admin_show.html.twig' %}


{% set title = 'label.digest.show' %}
{% set admin = 'admin_digest' %}

{% block table_body %}
    <tr>
        <th>{{ 'label.id'|trans }}</th>
        <td>{{ entity.id }}</td>
    </tr>
    <tr>
        <th>{{ 'label.organization'|trans }}</th>
        <td>{% if entity.organization != null %}{{ entity.organization }}{% else %}~{% endif %}</td>
    </tr>
    <tr>
        <th>{{ 'label.metro'|trans }}</th>
        <td>{% if entity.metro != null %}{{ entity.metro }}{% else %}~{% endif %}</td>
    </tr>
{% endblock %}