{% extends 'CommonBundle:Default/admin:admin_edit.html.twig' %}

{% set title = 'label.metro_station.edit' %}
{% set admin = 'metro_station' %}

{% block script_container %}
    {{ parent() }}
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key={{ gmap_api_key }}&sensor=false">
    </script>
{% endblock %}

{% block form_fields %}
    {{ form_row(edit_form.name) }}
    <div class="container coords_container">
        {% include 'CommonBundle:Default/admin:gmap_field.html.twig' %}
        <div class="latitude">
            {{ form_row(edit_form.latitude) }}
        </div>
        <div class="longtitude">
            {{ form_row(edit_form.longtitude) }}
        </div>
    </div>
    {{ form_rest(edit_form) }}
{% endblock %}