<form class="login-form" action="{{ path("fos_user_security_check") }}" method="post">
    <div class="content">
        <div class="msg-container">
        {% if error %}
            <span class="error">{{ error }}</span>
        {% endif %}
        </div>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

        <label for="username">{{ 'security.login.username'|trans }}</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />

        <label for="password">{{ 'security.login.password'|trans }}</label>
        <input type="password" id="password" name="_password" required="required" />

        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
        <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
    </div>

    <input type="submit" class="login_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
</form>