<div class="contact-links fl-l">
    <div class="fl-l"><a class="mail-me" href="{{ twig_render_info.mail }}"><img src="/files/public/images/commonimg/mail.png"></a></div>
    <div class="fl-l"><a class="twitter" href="{{ twig_render_info.twitter }}"><img src="/files/public/images/commonimg/twitter.png"></a></div>
    <div class="fl-l"><a class="fb" href="{{ twig_render_info.fb }}"><img src="/files/public/images/commonimg/facebook.png"></a></div>
    <div class="fl-l"><a class="vk" href="{{ twig_render_info.vk }}"><img src="/files/public/images/commonimg/vkontakte.png"></a></div>
    <div class="fl-l"><a class="youtube" href="{{ twig_render_info.yt }}"><img src="/files/public/images/commonimg/youtube.png"></a></div>
    <div class="cl-b"></div>
</div>