{% extends 'CommonBundle:Default:layout.html.twig' %}

{% block style_container %}
    {{ parent() }}
    {% stylesheets
    '@FrontBundle/Resources/public/css/*'
    filter='cssrewrite'
    output='front.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block body_container %}
    <div id="resetting-request">
        <form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST" class="fos_user_resetting_reset">
            {{ form_widget(form) }}
            <div>
                <input type="submit" value="{{ 'resetting.reset.submit'|trans }}" />
            </div>
        </form>
    </div>
{% endblock %}