{% extends 'CommonBundle:Default/admin:admin_index.html.twig' %}

{% set admin = 'place' %}
{% set title = 'label.place.index' %}
{% block thead %}
    <tr>
        <th>{{ 'label.id'|trans }}</th>
        <th>{{ 'label.name'|trans }}</th>
        <th>{{ 'label.logo'|trans }}</th>
        <th>{{ 'label.address'|trans }}</th>
        <th>{{ 'label.latitude'|trans }}</th>
        <th>{{ 'label.longtitude'|trans }}</th>
        <th>{{ 'label.description_logo'|trans }}</th>
        <th>{{ 'label.weburl'|trans }}</th>
        <th>{{ 'label.phone1'|trans }}</th>
        <th>{{ 'label.phone2'|trans }}</th>
        <th>{{ 'label.email'|trans }}</th>
        <th>{{ 'label.addoptions'|trans }}</th>
        <th>{{ 'label.addevent'|trans }}</th>
        <th>{{ 'label.actions'|trans }}</th>
    </tr>
{% endblock %}
{% block custom_fields %}
    <td>{{ entity.name }}</td>
    <td><img src="{{ entity.webPath }}" width=100 /></td>
    <td>{{ entity.address }}</td>
    <td>{{ entity.latitude }}</td>
    <td>{{ entity.longtitude }}</td>
    <td>{{ entity.descriptionTogo }}</td>
    <td>{{ entity.webUrl }}</td>
    <td>{{ entity.phone1 }}</td>
    <td>{{ entity.phone2 }}</td>
    <td>{{ entity.email }}</td>
    <td>{{ entity.addOptions }}</td>
    <td>{{ entity.addEvent }}</td>
{% endblock %}